body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(#f4f4f4);
    color: var(--dark-color);
    font-family: sans-serif;
    font-size: 16px;
  }

/* Layouts */
.homepage-container,
.library-container {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.library-container {
  max-width: 50rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.flex-row{
    display: flex;
    gap: var(--p16);
}

/* Typography */
.text-title{
    font-size: var(--fs-title);
}

.description-text {
    line-height: 1.5;
    letter-spacing: 0.04rem;
  }

/* Buttons */
.btn{
    padding: 0.5625rem 0.9375rem;
    border-radius: var(--br);
    color: var(--white-color);
    font-size: var(--fs-text);
    cursor: pointer;
    border: none;
  }

  .disconnect-btn {
    font-size: 1.2rem;
    background-color: var(--danger-color);
    margin-top: var(--m16);
    margin-bottom: var(--m16);
  }

  .primary-btn{
    background-color: var(--primary-color);
  }

  .delete-btn{
    background-color: var(--danger-color);
  }

  /* Inputs */
  .border-bottom-input{
    padding: 0.625rem;
    border: none;
    border-bottom: 0.0625rem solid #aaa;
  }


  /* Other  */
  ul{
    list-style: none;
  }

  ::placeholder{
    font-size: 1rem;
    letter-spacing: 0.185rem
  }