.library-container{
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.library-title-input-container{
  align-items: center;
}

.library-title{
  letter-spacing: 0.185rem;
  text-transform: capitalize;
  text-align: center;
}


.search-input-container {
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--br);
  border: 1px solid #ccc;
  width: 80%;
}

.library-input-bar {
  flex: 1;
}

.faMagnifyingGlass {
  color: #aaa;
}


.library-exercises-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:0.5rem;
}


.exercise-name{
  cursor:copy;
  color: var(--white-color);
}

.exercise-name:hover {
  text-decoration: underline;  
}

.library-exercise{
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #02263c;
  background-color: #1a3256;
  
}

.library-exercise p{
    letter-spacing: 0.03rem;
    color: #d9dee2;
}

.library-exercise p span{
    font-weight: bold;
    color: #ffde00;
    color: #e53d46;
}
