
.profile-header {
  justify-content: space-around;
  align-items: center;
}

.profile-name {
  letter-spacing: 0.185rem;
  text-align: center;
}

.library-link{
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.12rem;
}

.profile-input-button-container {
  align-items: center;
  margin-top: 1.8rem;
}

.input-workout {
  flex-grow: 1; 
  margin-right: 0.625rem;
}

.workout-list {
  margin: 0;
  padding: 0;
  margin-top: 1.8rem;
}

.workout-item {
  align-items: center;
  padding: 0.3125rem;
  margin: 0.625rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: var(--br);
  border: 0.0625rem solid #ccc;
  max-height: 20rem; /* Adjust this value as needed */
  overflow-y: auto;
}

.workout-title {
  margin-left: 0.625rem;
  flex-grow: 1;
}

.workout-item input {
  padding: 0.3125rem;
  border: none;
  border-bottom: 0.0625rem solid #aaa;
  margin-right: 0.625rem;
}

