.login-background{
  background-image: url('../workoutBackground.png');
  background-size: cover; 
  background-position: center center;
  margin-top: 2.5rem;
}
 
 .app-title {
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #08660fd2;

  }

  .input-button-container{
  align-items: center;  
  margin-bottom: 1.25rem;
  }

  .text-anchor-container{
    align-items: center;
    justify-content: center;
    gap: 0.05rem;
  }

  .signup-login-anchor{
    text-decoration: none;
    color: rgb(21, 21, 192);
    font-size: var(--fs-text);
  }

  .signup-login-anchor:hover{   
    text-decoration: underline;
    cursor: pointer;
  }