:root {
    --fs-text: 1.1rem;
    --fs-title: 1.5rem;
    --main-bg-color: #f4f4f4;
    --dark-color: #212427;
    --white-color: #ffffff;
    --danger-color: #e71c1c;
    --primary-color: #2e5ca7ec;
    --hover-primary-color: #1954b2ec;
    --box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    --br: 0.3125rem;
  }
  